<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countdown App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
				<key>dateExpires</key>
				<string>17/11/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CB0BE7A3132B5DCF1F17278336188AC80FD7B837</string>
						<key>dateExpires</key>
						<string>17/11/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YK52W7Z6K7</string>
						<key>name</key>
						<string>JELAJAH DATA SEMESTA, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YK52W7Z6K7.com.example.countdownApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YK52W7Z6K7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>YK52W7Z6K7.com.example.countdownApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>84564c68-2492-4509-b940-a9ce1f2086b1</string>
				<key>dateExpires</key>
				<string>01/12/22</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YK52W7Z6K7</string>
				<key>name</key>
				<string>JELAJAH DATA SEMESTA, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
